.experience_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    justify-content: center;
    
    align-items: center;


}

.expnameandlink{
    padding: 0.5rem;
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 2rem;
}

.experience_item >div > a{
      
    align-self: flex-end;
 }



.experience_item {
    background: transparent;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    border-color: var(--color-primary-variant);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.experience_item:hover {
    justify-content: center;
    background:linear-gradient(var(--color-primary-variant),transparent);
}


.experience_item_image {
    border-radius: 1.5rem;
    background-color: white;
    
}
.experience_item_image >img {
    border-radius: 1.5rem;
}








/*========Media Querries(Medium Devices)======*/

@media screen and (max-width: 1024px) {
    .experience_item {
        background: transparent;
        padding: 0.5rem;
       
    }
    .experience_item >div > h3{
        font-weight: 50;
        font-size: small;
        text-align: center;
        
     }
   
  
    
  }
  
  
  /*========Media Querries(Small Devices)======*/
  
  @media screen and (max-width: 600px) {
    .experience_container{
        
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    
    
    }
    .experience_item >div > h3{
       font-weight: 50;
       font-size: 3vw;
       text-align: center;
       
    }
  

    .experience_item >div > a{
      
        align-self: center;
     }
 
    .expnameandlink{
        padding: 0.5rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }


       
    .experience_item{
        padding: 0.5rem;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    
  }